.like-detail-header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #eee;
  color: #333;
  font-size: 28px;
  .back {
    margin-left: 20px;
    i {
      position: relative;
      top: 6px;
      color: #666;
      font-size: 36px;
      margin-right: 8px;
    }
  }
  .title {
    margin-left: 200px;
    font-size: 32px;
  }
}

.like-detail-cost {
  margin-bottom: 20px;
  .bug-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: #fff;
    .bug {
      width: 210px;
      height: 68px;
      line-height: 68px;
      border-radius: 10px;
      background-color: #f63;
      color: #fff;
      font-size: 32px;
      text-align: center;
    }
    .n-price {
      font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
      color: #f63;
      font-size: 54px;
      margin-right: 20px;
      i {
        font-size: 36px;
        font-style: normal;
      }
    }
    .o-price {
      font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
      color: #8c8c8c;
      font-size: 28px;
      margin-right: 10px;
      text-decoration: line-through;
      i {
        font-size: 28px;
        font-style: normal;
      }
    }
  }
  .advantage {
    display: flex;
    width: 100%;
    height: 90px;
    line-height: 90px;
    list-style: none;
    background: #fff;
    padding-left: 20px;
    border-top: 1px solid #eee;
    li {
      flex: 1;
    }
  }
  .easy-Refunds, .dated-Refunds {
    position: relative;
    top: 8px;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    background-image: url(../../assets/images/comm.png);
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: 0 -550px;
  }
  .dated-Refunds {
    background-position: 0 -592px;
  }
}

.like-detail-shop {
  background-color: #fff;
  margin-bottom: 20px;
  .top {
    height: 80px;
    line-height: 80px;
    color: #999;
    text-indent: 20px;
    font-weight: 400;
    font-size: 28px;
  }
  .middle {
    display: flex;
    width: 100%;
    height: 170px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .left {
      padding-left: 26px;
      width: 630px;
      h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        color: #878787;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        font-size: 26px;
        font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
      }
    }
    .right {
      display: flex;
      align-items: center;
      width: 150px;
      a {
        width: 100px;
        height: 100px;
        border-left: 1px solid #eee;
      }
      .mobile {
        display: block;
        margin: 10px 0 0 30px;
        width: 80px;
        height: 80px;
        background-image: url(../../assets/images/mobile.png);
        background-repeat: no-repeat;
        background-size: 80px auto;
        background-position: center 0;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 88px;
    text-indent: 20px;
    font-size: 28px;
    color: #333;
    i {
      display: inline-block;
      margin-right: 10px;
      width: 28px;
      height: 28px;
      background: url(../../assets/images/icon-comm.png) 0 -110px no-repeat;
      background-size: 28px auto;
    }
  }
}