.home-reduce {
  background-color: #ffffff;
  margin-bottom: 20px;
  .title {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    .title-left {
      width: 180px;
      height: 80px;
      background: url(../../../assets/images/a41a9b3b0c7b20af96d3cacbfd8692c5.png) no-repeat;
      background-size: 400px auto;
      background-position: 20px -120px;
    }
    .more {
      font-size: 24px;
      color: #999;
      margin-right: 20px;
      i {
        position: relative;
        top: 10px;
        font-size: 46px;
        margin-left: 8px;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      flex-direction: column;
      width: 240px;
      padding: 0 10px;
      img {
        width: 100%;
        height: auto;
      }
      .name {
        line-height: 50px;
        color: #333333;
        font-size: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price {
        color: #ff6735;
        font-size: 36px;
        letter-spacing: -1px;
        em {
          font-size: 24px;
          font-style: normal;
        }
      }
      .tag {
        position: relative;
        top: -6px;
        display: inline-block;
        margin-left: 10px;
        border: 1px solid #ff6735;
        border-radius: 8px;
        color: #ff6735;
        padding: 2px 4px;
        font-size: 24px;
      }
    }
  }
}